<div class="c-card">
  <ng-content select="[app-card-image]"></ng-content>
  <ng-content select="app-card-title"></ng-content>
  <ng-content select="app-card-description"></ng-content>
  <ng-content select="app-card-contact"></ng-content>
  <ng-content select="app-card-footer"></ng-content>
</div>
