<h1 class="u-title">{{ sectionTitle$ | async }}</h1>
<section class="l-content">
  <ng-container *ngFor="let item of attributesList$ | async">
    <app-card>
      <img
        app-card-image
        sizes="50vw"
        alt="team member"
        [imgSrcsets]="item.imageUrl"
        [src]="item.imageUrl"
      />
      <app-card-title>{{ item.block.title }}</app-card-title>
      <app-card-description>{{ item.block.title }}</app-card-description>
      <app-card-contact>{{ item.block.link }}</app-card-contact>
      <app-card-footer>{{ item.block.text }}</app-card-footer>
    </app-card>
  </ng-container>
</section>
