.c-card {
  display: flex;
  flex-direction: column;
  padding: var(--space-md);

  &__title {
    font-size: var(--font-md);
    font-weight: 800;
    margin: var(--space-lg) 0 var(--space-sm) 0;
    color: var(--dark-blue);
  }

  &__footer {
    font-size: var(--font-sm);
    color: var(--gray);
  }

  &__contact {
    font-size: var(--font-sm);
    margin: var(--space-lg) 0 var(--space-sm) 0;
    color: var(--light-blue);
    font-weight: 500;
  }

  &__img {
    object-fit: cover;
    width: 320px;
    height: 320px;
    object-position: 0 0;
  }
}
