.l-wrapper {
  max-width: var(--max-width);
  padding: var(--base-space);
  display: grid;
  place-content: center;
  margin: 0 auto;
}

.l-content {
  display: flex;
  flex-wrap: wrap;
  padding: var(--space-xl);
}
