:root {
  // spacing
  --base-space: 6px;
  --space-sm: var(--base-space);
  --space-md: calc(var(--base-space) * 2);
  --space-lg: calc(var(--base-space) * 3);
  --space-xl: calc(var(--base-space) * 4);

  // sizes
  --max-width: 1320px;
  --min-width: 420px;

  // colors
  --light-blue: #7eb9e4;
  --dark-blue: #273f53;
  --gray: #8b9194;
  --dark-gray: #cacaca;

  //fonts
  --max-font: 38px;
  --min-font: 11px;
  --font-sm: 14px;
  --font-md: 18px;
  --font-lg: 24px;
}
