/* You can add global styles to this file, and also import other style files */
@import 'assets/variables';
@import 'assets/layout';
@import 'assets/components';
@import 'assets/utilis';

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}
